<div ng-include="'app/views/admin-nav.tmpl.html'">
</div>
<div class="container">
    <div class="row">

        <div class="col-sm-5" ng-include="'app/views/movie-edit.tmpl.html'">
        </div>

        <div class="col-sm-7">
            <h3>{{movieDetailVm.currentMovie.title}} ({{movieDetailVm.currentMovie.year}})</h3>
            <br>
            <a class="imageDetail"><img ng-src="{{movieDetailVm.currentMovie.poster}}"></a>
            <br>
            <br>
            <br>
            <table class="table table-striped">
                <tr>
                    <td><b>ID:</b></td>
                    <td><i>{{movieDetailVm.currentMovie.id}}</i></td>
                </tr>
                <tr>
                    <td><b>Title</b></td>
                    <td><b></b><i>{{movieDetailVm.currentMovie.title}}</i></b></td>
                </tr>
                <tr>
                    <td><b>IMDB Id:</b></td>
                    <td><i>{{movieDetailVm.currentMovie.imdbID}}</i></td>
                </tr>
                <tr>
                    <td>Year:</td>
                    <td><i>{{movieDetailVm.currentMovie.year}}</i></td>
                </tr>
                <tr>
                    <td>Rated:</td>
                    <td><i>{{movieDetailVm.currentMovie.rated}}</i></td>
                </tr>
                <tr>
                    <td>Released:</td>
                    <td><i>{{movieDetailVm.currentMovie.released}}</i></td>
                </tr>
                <tr>
                    <td>Runtime:</td>
                    <td><i>{{movieDetailVm.currentMovie.runtime}}</i></td>
                </tr>
                <tr>
                    <td>Genre:</td>
                    <td><i>{{movieDetailVm.currentMovie.genre}}</i></td>
                </tr>
                <tr>
                    <td>Director:</td>
                    <td><i>{{movieDetailVm.currentMovie.director}}</i></td>
                </tr>
                <tr>
                    <td>Writer:</td>
                    <td><i>{{movieDetailVm.currentMovie.writer}}</i></td>
                </tr>
                <tr>
                    <td>Actors:</td>
                    <td><i>{{movieDetailVm.currentMovie.actors}}</i></td>
                </tr>
                <tr>
                    <td>Plot:</td>
                    <td><i>{{movieDetailVm.currentMovie.plot}}</i></td>
                </tr>
                <tr>
                    <td>Language:</td>
                    <td><i>{{movieDetailVm.currentMovie.language}}</i></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><i>{{movieDetailVm.currentMovie.country}}</i></td>
                </tr>
                <tr>
                    <td>Awards:</td>
                    <td><i>{{movieDetailVm.currentMovie.awards}}</i></td>
                </tr>
                <tr>
                    <td>Metascore:</td>
                    <td><i>{{movieDetailVm.currentMovie.metascore}}</i></td>
                </tr>
                <tr>
                    <td>IMDB Rating:</td>
                    <td><i>{{movieDetailVm.currentMovie.imdbRating}}</i></td>
                </tr>
                <tr>
                    <td>IMDB Votes:</td>
                    <td><i>{{movieDetailVm.currentMovie.imdbVotes}}</i></td>
                </tr>
                <tr>
                    <td>Type:</td>
                    <td><i>{{movieDetailVm.currentMovie.type}}</i></td>
                </tr>
            </table>
        </div>
    </div>
</div>