<div ng-include="'app/views/admin-nav.tmpl.html'">
</div>
<div class="container">
    <div class="row">


        <div class="col-sm-4" ng-include="'app/views/movie-add-form.tmpl.html'">
        </div>

        <div class="col-sm-8">

            <h3>List of Movies</h3>

            <div>
                <input type="search" ng-model="moviesVm.searchText" placeholder="Search Movies here.."
                       class="form-control">
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Rated</th>
                    <th>Genre</th>
                    <th>IMDB</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="movie in moviesVm.movies | filter:moviesVm.searchText">
                    <td>
                        <a href="#/movies/{{movie.id}}"><img ng-src="{{movie.poster}}"></a>
                    </td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.year}}</td>
                    <td>{{movie.rated}}</td>
                    <td>{{movie.genre}}</td>
                    <td>{{movie.imdbRating}}</td>
                    <td><a href="#/movies/{{movie.id}}" class="glyphicon glyphicon-pencil"></a></td>
                    <td><i ng-click="moviesVm.deleteMovie($index)" class="glyphicon glyphicon-remove"></i></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>