<div ng-include="'app/views/user-nav.tmpl.html'">
</div><br>
<div class="container">
    <div class="row">

        <div class="col-xs-5" ng-include="'app/views/review-form.tmpl.html'">
        </div>

        <div class="col-xs-5">

            <h4><b>Movie Reviews (Users):</b></h4>

            <div ng-repeat="review in reviewsVm.reviews">
                <blockquote>
                    <p>@{{review.username}}</p>
                    <strong>Rating: {{review.userRatings}}</strong>
                    <p>{{review.comments}}</p>
                    <i ng-click="reviewsVm.deleteReview($index)" ng-if="review.username===globals.currentUser.username" class="glyphicon glyphicon-remove"></i>
                </blockquote>
            </div>

        </div>
    </div>
</div>